.app-logo {
    display: flex;
    flex-direction: row;
    margin-right: 2.5em
}

.app-logo .app-logo-title {
    margin: 0.7em;
}

.app-logo.click {
    cursor: pointer;
}

.logo {
    width: 60px; 
    height: 60px;
    margin-right: 10px; 
}
