.not-found-page {
    background-color: rgb(44,45,64);
    color: #e7e4e6;
    text-align: center;
    padding: 20px;
    min-height: 90vh;
}

.not-found-page .text {
    font-size: 1em;
    font-weight: 400;
}

.not-found-page a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    color: var(--e-global-color-button-text);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.not-found-page a:hover {
    text-decoration: underline;
}

.not-found-page .message {
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.not-found-page h2 {
    font-size: 4vh;
    color: #add4f5
}